In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import datetime

In [2]:
s = pd.Series([1, 3, 5, np.nan, 7, 9])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    7.0
5    9.0
dtype: float64

In [6]:
x = pd.Series([1, 3, 5, np.nan, 7, 9], index=['A', 'B', 'C', 'D', 'E', 'F'])
print(x)
print(x.values)
print(x['B'])
print(x[1])

A    1.0
B    3.0
C    5.0
D    NaN
E    7.0
F    9.0
dtype: float64
[ 1.  3.  5. nan  7.  9.]
3.0
3.0

## 產生DataFrame

In [8]:
#Empty DataFrame
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [9]:
#從Python Dict結構轉換
df = pd.DataFrame({"A":['a', 'b', 'c'], "B":['d', 'e', 'f'], "C":['g', 'h', 'i']})
print(df)

   A  B  C
0  a  d  g
1  b  e  h
2  c  f  i

In [12]:
# 從 numpy ndim Array
df = pd.DataFrame(np.arange(9).reshape(3,3))
print(df)

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

### 生成二維陣列DataFrame

In [96]:
import datetime
start_day=datetime.date.today() - datetime.timedelta(days=365)
start_day = datetime.datetime.strftime(start_day, '%Y%m%d')
# print(datetime.datetime.strftime(start_day, '%Y%m%d'))
dates = pd.date_range(start=start_day, end=datetime.datetime.strftime(datetime.datetime.now(), '%Y%m%d'), freq='D') #間隔為天
print(dates)
# print(dates[4])

DatetimeIndex(['2020-05-30', '2020-05-31', '2020-06-01', '2020-06-02',
               '2020-06-03', '2020-06-04', '2020-06-05', '2020-06-06',
               '2020-06-07', '2020-06-08',
               ...
               '2021-05-21', '2021-05-22', '2021-05-23', '2021-05-24',
               '2021-05-25', '2021-05-26', '2021-05-27', '2021-05-28',
               '2021-05-29', '2021-05-30'],
              dtype='datetime64[ns]', length=366, freq='D')

DatetimeIndex(['2020-05-30', '2020-05-31', '2020-06-01', '2020-06-02',
               '2020-06-03', '2020-06-04', '2020-06-05', '2020-06-06',
               '2020-06-07', '2020-06-08',
               ...
               '2021-05-21', '2021-05-22', '2021-05-23', '2021-05-24',
               '2021-05-25', '2021-05-26', '2021-05-27', '2021-05-28',
               '2021-05-29', '2021-05-30'],
              dtype='datetime64[ns]', length=366, freq='D')

In [18]:
dates = pd.date_range(datetime.datetime.strftime(datetime.datetime.now(), '%Y%m%d'), periods=10)
print(dates)
dates[0]

DatetimeIndex(['2021-06-04', '2021-06-05', '2021-06-06', '2021-06-07',
               '2021-06-08', '2021-06-09', '2021-06-10', '2021-06-11',
               '2021-06-12', '2021-06-13'],
              dtype='datetime64[ns]', freq='D')

Timestamp('2021-06-04 00:00:00', freq='D')

In [116]:
dates = pd.date_range(datetime.datetime.strftime(datetime.datetime.now(), '%Y%m%d'), periods=20)
df = pd.DataFrame(np.random.randn(20,5), index=dates, columns=list('ABCDE'))
print(df)
df['B']
df.B
df[['A','B','C']]

columns = ['A','B','C']
df[columns]

df.values[1]
# df

df.head() #預設顯示前五行
df.head(3) #查看前三行
df.tail(3) #查看最後三行

#查看二維資料的索引、列名和資料
df.index #索引
df.columns #列名
df.values #內容
df.describe() #平均值、標準差、最小值、最大值、四分位數
df.T #轉置
df.sort_index(axis=1, ascending=False) #排序，遞減
df.sort_index(axis=0, ascending=False) #排序，遞減
df.sort_values(by='A', ascending=False) #排序，依據'A'欄位的值

df['G-Multiply'] = df['A'] * df['D']
B_C = df['B'] * df['C']
B_C = pd.Series(B_C) 
df['G-Multiply2'] = B_C 
df[0:5] #切片
df['2021-06-09':'2021-06-19'] #切片，包含'2021-06-19'
df.loc['2021-06-15']
df[df.index=='2021-06-15']
df.loc['2021-06-15',['C']]
df.loc['2021-06-15','C']
df.at['2021-06-15','C']
df.loc['2021-06-15',['A','C','E']]
df.loc[:,['A','C','E']]
df.loc['2021-06-09':'2021-06-19',['A','C','E']]

# 切片-使用iloc (使用index去locate)
df.iloc[6]
df.iloc[6,4]
df.iloc[6:10]
df.iloc[6:10, 1:4]

filter = df[df.C>1]
filter.index

x = df.C>1
y = df.B<=1
df[(x&y)] #交集

df.iat[2,4] = 55688 #修改指定位置元素值

df.iloc[3,5] = np.NAN
df.iloc[4,6] = np.NAN
# print(df)

df.A.isnull()
df['A'].isnull()
pd.isnull(df['A'])
pd.isnull(df)

df['G-Multiply'].isnull()
pd.isnull(df['G-Multiply2'])

df.dropna()

df.fillna(800, inplace=True)
df['G-Multiply'].fillna(800, inplace=True)

df.drop(['B','D'], axis=1)


df['Minus-Multiply2'] = -df['G-Multiply'] #對指定列數據加負號
df['abs-Multiply2'] = abs(df['G-Multiply']) #對指定列數據加絕對值
df.loc[:,'E'] = [np.random.randint(0,5000) for i in range(20)] #修改某列的值
df.loc[:,'A'] = [i for i in range(20)] #修改某列的值

dates = pd.date_range('2021-06-23', periods=20)

df1 = df.reindex(index=dates, columns=list('EFGHI')+['G-Multiply'])
df1

                   A         B         C         D         E
2021-06-04  0.999032 -0.174609  1.037754  0.378771 -0.426432
2021-06-05  0.911121  1.089702  1.170580 -0.484064  1.076179
2021-06-06  1.230335  0.638778  0.096719  1.229811 -0.197284
2021-06-07  0.020209 -1.085716  1.936257 -0.612488  0.701671
2021-06-08 -0.354877  1.282248  0.802425 -0.222395  2.206067
2021-06-09  0.044229  1.405512  0.526113 -0.162318 -0.925671
2021-06-10  0.042522 -0.960252 -0.724151  0.565790  0.846817
2021-06-11  1.206577  1.322562  0.114130 -0.017366 -0.159536
2021-06-12 -0.226251 -0.623517  0.993696  1.041218  0.167252
2021-06-13  0.847308 -0.132514  1.983351 -0.233523  1.898111
2021-06-14 -0.768090  0.823988 -0.420355  0.153092 -0.381644
2021-06-15 -3.180757  0.697058  0.208633 -1.027143  2.973888
2021-06-16  0.164381  1.639129  0.782745  0.785246  0.775079
2021-06-17  0.870974  0.183644 -0.403022 -0.585421 -0.735260
2021-06-18  1.491561  2.327550  0.883860 -0.205584 -0.314562
2021-06-19  1.384471 -0.483907 -0.504569 -2.149038 -0.938794
2021-06-20 -1.023107 -0.218345 -2.277130  0.413514  1.134508
2021-06-21 -0.165527  0.640252  0.783403 -0.676465  0.269576
2021-06-22 -1.306733 -0.166664 -0.768084  0.575867 -0.079615
2021-06-23  0.159060 -0.194451 -0.668014 -0.469310 -1.436773

                 E   F   G   H   I  G-Multiply
2021-06-23  1812.0 NaN NaN NaN NaN   -0.074648
2021-06-24     NaN NaN NaN NaN NaN         NaN
2021-06-25     NaN NaN NaN NaN NaN         NaN
2021-06-26     NaN NaN NaN NaN NaN         NaN
2021-06-27     NaN NaN NaN NaN NaN         NaN
2021-06-28     NaN NaN NaN NaN NaN         NaN
2021-06-29     NaN NaN NaN NaN NaN         NaN
2021-06-30     NaN NaN NaN NaN NaN         NaN
2021-07-01     NaN NaN NaN NaN NaN         NaN
2021-07-02     NaN NaN NaN NaN NaN         NaN
2021-07-03     NaN NaN NaN NaN NaN         NaN
2021-07-04     NaN NaN NaN NaN NaN         NaN
2021-07-05     NaN NaN NaN NaN NaN         NaN
2021-07-06     NaN NaN NaN NaN NaN         NaN
2021-07-07     NaN NaN NaN NaN NaN         NaN
2021-07-08     NaN NaN NaN NaN NaN         NaN
2021-07-09     NaN NaN NaN NaN NaN         NaN
2021-07-10     NaN NaN NaN NaN NaN         NaN
2021-07-11     NaN NaN NaN NaN NaN         NaN
2021-07-12     NaN NaN NaN NaN NaN         NaN

In [60]:
#dict. keys → 欄位
df = pd.DataFrame({'A':1.,
                   'B':pd.Timestamp(datetime.datetime.strftime(datetime.datetime.now(), '%Y%m%d')),
                   'C':pd.Series(1, index=list(range(10)), dtype='int64'),
                   'D':np.array([5]*10, dtype='int64'),
                   'E':pd.Categorical(['Elephant', 'Ant', 'Rabbit', 'Tiger', 'Lion', 'Cockroach', 'Human', 'Bee', 'Butterfly', 'Bird']),
                   'F':'Pandas Basic Practice'})
print(df)
df.dtypes

     A          B  C  D          E                      F
0  1.0 2021-05-30  1  5   Elephant  Pandas Basic Practice
1  1.0 2021-05-30  1  5        Ant  Pandas Basic Practice
2  1.0 2021-05-30  1  5     Rabbit  Pandas Basic Practice
3  1.0 2021-05-30  1  5      Tiger  Pandas Basic Practice
4  1.0 2021-05-30  1  5       Lion  Pandas Basic Practice
5  1.0 2021-05-30  1  5  Cockroach  Pandas Basic Practice
6  1.0 2021-05-30  1  5      Human  Pandas Basic Practice
7  1.0 2021-05-30  1  5        Bee  Pandas Basic Practice
8  1.0 2021-05-30  1  5  Butterfly  Pandas Basic Practice
9  1.0 2021-05-30  1  5       Bird  Pandas Basic Practice

A           float64
B    datetime64[ns]
C             int64
D             int64
E          category
F            object
dtype: object

In [67]:
# merge two dataframe using append
df1 = pd.DataFrame({'A':1.,
                   'B':pd.Timestamp(datetime.datetime.strftime(datetime.datetime.now(), '%Y%m%d')),
                   'C':pd.Series(1, index=list(range(5)), dtype='int64'),
                   'D':np.array([5]*5, dtype='int64'),
                   'E':pd.Categorical(['Elephant', 'Ant', 'Rabbit', 'Tiger', 'Lion',]),
                   'F':'Pandas Basic Practice'})

df2 = pd.DataFrame({'A':2.,
                   'B':pd.Timestamp(datetime.datetime.strftime(datetime.datetime.now(), '%Y-%m-%d')),
                   'C':pd.Series(2, index=list(range(5)), dtype='int64'),
                   'D':np.array([8]*5, dtype='int64'),
                   'E':pd.Categorical(['Cockroach', 'Human', 'Bee', 'Butterfly', 'Bird']),
                   'F':'Pandas Example Practice'})

df3 = df1.append(df2, ignore_index=True)
print(df3)

print(df3.shape)

     A          B  C  D          E                        F
0  1.0 2021-05-30  1  5   Elephant    Pandas Basic Practice
1  1.0 2021-05-30  1  5        Ant    Pandas Basic Practice
2  1.0 2021-05-30  1  5     Rabbit    Pandas Basic Practice
3  1.0 2021-05-30  1  5      Tiger    Pandas Basic Practice
4  1.0 2021-05-30  1  5       Lion    Pandas Basic Practice
5  2.0 2021-05-30  2  8  Cockroach  Pandas Example Practice
6  2.0 2021-05-30  2  8      Human  Pandas Example Practice
7  2.0 2021-05-30  2  8        Bee  Pandas Example Practice
8  2.0 2021-05-30  2  8  Butterfly  Pandas Example Practice
9  2.0 2021-05-30  2  8       Bird  Pandas Example Practice
(10, 6)

In [70]:
df1 = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))

df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
df3 = df1.append(df2, ignore_index=True)
print(df3)
print(df3.shape)

   A  B
0  1  2
1  3  4
2  5  6
3  7  8
(4, 2)

In [85]:
# pandas dataframe format
x = ({'A':1.,
   'B':pd.Timestamp(datetime.datetime.strftime(datetime.datetime.now(), '%Y%m%d')),
   'C':1,
   'D':np.array([5]*5, dtype='int64'),
   'E':pd.Categorical(['Elephant', 'Ant', 'Rabbit', 'Tiger', 'Lion',]),
   'F':'Pandas Basic Practice'},
    {'A':2.,
   'B':pd.Timestamp(datetime.datetime.strftime(datetime.datetime.now(), '%Y-%m-%d')),
   'C':2,
   'E':pd.Categorical(['Cockroach', 'Human', 'Bee', 'Butterfly', 'Bird']),
   }) #'D':np.array([8]*5, dtype='int64'),'F':'Pandas Example Practice'

df = pd.DataFrame(x)
# print(df)
df
df['t0']=0 #新增欄位
df['t1']=np.NaN #新增欄位
df['t2']=100 #新增欄位
df

,A,B,C,D,E,F,t0,t1,t2
0,1.0,2021-05-30,1,"[5, 5, 5, 5, 5]","[Elephant, Ant, Rabbit, Tiger, Lion] Categorie...",Pandas Basic Practice,0,NaN,100
1,2.0,2021-05-30,2,NaN,"[Cockroach, Human, Bee, Butterfly, Bird] Categ...",NaN,0,NaN,100

In [95]:
# pandas create a dataframe from dict
x = ({'Chinese':100, 'English':100, 'France': 100, 'Total':300},
     {'Chinese':0, 'English':0, 'France': 0, 'Total':0},
     {'Chinese':60, 'English':60, 'France': 60, 'Total':180},)
df = pd.DataFrame(x, index=['平', '京翰', '享俊'], columns=x[0].keys())
print(df)
df['Total']

    Chinese  English  France  Total
平       100      100     100    300
京翰        0        0       0      0
享俊       60       60      60    180

平     300
京翰      0
享俊    180
Name: Total, dtype: int64