In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import datetime

In [2]:
s = pd.Series([1, 3, 5, np.nan, 7, 9])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    7.0
5    9.0
dtype: float64

In [6]:
x = pd.Series([1, 3, 5, np.nan, 7, 9], index=['A', 'B', 'C', 'D', 'E', 'F'])
print(x)
print(x.values)
print(x['B'])
print(x[1])

A    1.0
B    3.0
C    5.0
D    NaN
E    7.0
F    9.0
dtype: float64
[ 1.  3.  5. nan  7.  9.]
3.0
3.0

## 產生DataFrame

In [8]:
#Empty DataFrame
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [9]:
#從Python Dict結構轉換
df = pd.DataFrame({"A":['a', 'b', 'c'], "B":['d', 'e', 'f'], "C":['g', 'h', 'i']})
print(df)

   A  B  C
0  a  d  g
1  b  e  h
2  c  f  i

In [12]:
# 從 numpy ndim Array
df = pd.DataFrame(np.arange(9).reshape(3,3))
print(df)

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

### 生成二維陣列DataFrame

In [96]:
import datetime
start_day=datetime.date.today() - datetime.timedelta(days=365)
start_day = datetime.datetime.strftime(start_day, '%Y%m%d')
# print(datetime.datetime.strftime(start_day, '%Y%m%d'))
dates = pd.date_range(start=start_day, end=datetime.datetime.strftime(datetime.datetime.now(), '%Y%m%d'), freq='D') #間隔為天
print(dates)
# print(dates[4])

DatetimeIndex(['2020-05-30', '2020-05-31', '2020-06-01', '2020-06-02',
               '2020-06-03', '2020-06-04', '2020-06-05', '2020-06-06',
               '2020-06-07', '2020-06-08',
               ...
               '2021-05-21', '2021-05-22', '2021-05-23', '2021-05-24',
               '2021-05-25', '2021-05-26', '2021-05-27', '2021-05-28',
               '2021-05-29', '2021-05-30'],
              dtype='datetime64[ns]', length=366, freq='D')

DatetimeIndex(['2020-05-30', '2020-05-31', '2020-06-01', '2020-06-02',
               '2020-06-03', '2020-06-04', '2020-06-05', '2020-06-06',
               '2020-06-07', '2020-06-08',
               ...
               '2021-05-21', '2021-05-22', '2021-05-23', '2021-05-24',
               '2021-05-25', '2021-05-26', '2021-05-27', '2021-05-28',
               '2021-05-29', '2021-05-30'],
              dtype='datetime64[ns]', length=366, freq='D')

In [18]:
dates = pd.date_range(datetime.datetime.strftime(datetime.datetime.now(), '%Y%m%d'), periods=10)
print(dates)
dates[0]

DatetimeIndex(['2021-06-04', '2021-06-05', '2021-06-06', '2021-06-07',
               '2021-06-08', '2021-06-09', '2021-06-10', '2021-06-11',
               '2021-06-12', '2021-06-13'],
              dtype='datetime64[ns]', freq='D')

Timestamp('2021-06-04 00:00:00', freq='D')

In [18]:
dates = pd.date_range(datetime.datetime.strftime(datetime.datetime.now(), '%Y%m%d'), periods=20)
df = pd.DataFrame(np.random.randn(20,5), index=dates, columns=list('ABCDE'))
print(df)
df['B']
df.B
df[['A','B','C']]

columns = ['A','B','C']
df[columns]

df.values[1]
# df

df.head() #預設顯示前五行
df.head(3) #查看前三行
df.tail(3) #查看最後三行

#查看二維資料的索引、列名和資料
df.index #索引
df.columns #列名
df.values #內容
df.describe() #平均值、標準差、最小值、最大值、四分位數
df.T #轉置
df.sort_index(axis=1, ascending=False) #排序，遞減
df.sort_index(axis=0, ascending=False) #排序，遞減
df.sort_values(by='A', ascending=False) #排序，依據'A'欄位的值

df['G-Multiply'] = df['A'] * df['D']
B_C = df['B'] * df['C']
B_C = pd.Series(B_C) 
df['G-Multiply2'] = B_C 
df[0:5] #切片
df['2021-06-09':'2021-06-19'] #切片，包含'2021-06-19'
df.loc['2021-06-15']
df[df.index=='2021-06-15']
df.loc['2021-06-15',['C']]
df.loc['2021-06-15','C']
df.at['2021-06-15','C']
df.loc['2021-06-15',['A','C','E']]
df.loc[:,['A','C','E']]
df.loc['2021-06-09':'2021-06-19',['A','C','E']]

# 切片-使用iloc (使用index去locate)
df.iloc[6]
df.iloc[6,4]
df.iloc[6:10]
df.iloc[6:10, 1:4]

filter = df[df.C>1]
filter.index

x = df.C>1
y = df.B<=1
df[(x&y)] #交集

df.iat[2,4] = 55688 #修改指定位置元素值

df.iloc[3,5] = np.NAN
df.iloc[4,6] = np.NAN
# print(df)

df.A.isnull()
df['A'].isnull()
pd.isnull(df['A'])
pd.isnull(df)

df['G-Multiply'].isnull()
pd.isnull(df['G-Multiply2'])

df.dropna()

df.fillna(800, inplace=True)
df['G-Multiply'].fillna(800, inplace=True)

df.drop(['B','D'], axis=1)


df['Minus-Multiply2'] = -df['G-Multiply'] #對指定列數據加負號
df['abs-Multiply2'] = abs(df['G-Multiply']) #對指定列數據加絕對值
df.loc[:,'E'] = [np.random.randint(0,5000) for i in range(20)] #修改某列的值
df.loc[:,'A'] = [i for i in range(20)] #修改某列的值

dates = pd.date_range('2021-06-23', periods=20)

df1 = df.reindex(index=dates, columns=list('EFGHI')+['G-Multiply'])
df1

df.mean(axis=0) #平均值，自動忽略缺失值
df.mean(axis=1)

df['abs-Multiply2'].value_counts()

df.shift(periods=1,axis=0) #新增一列(NaN)，所有資料往下移一格
df.shift(periods=2,axis=0) #新增二列(NaN)，所有資料往下移二格

df.shift(periods=1,axis=1) #新增一行(NaN)，所有資料往右移一格
df.shift(periods=2,axis=1) #新增二行(NaN)，所有資料往右移二格

                   A         B         C         D         E
2021-06-13 -0.567490 -2.072149 -1.315180 -3.257151  0.020760
2021-06-14 -0.121676  0.492622 -0.871721  0.141208 -0.764452
2021-06-15 -0.060768  0.271165  0.320177  2.256092 -0.096232
2021-06-16  0.797411  1.059055  0.809173  1.373871 -0.340573
2021-06-17  0.621914 -0.283532  0.113122  0.492082  0.444728
2021-06-18  0.702130 -1.019781 -2.475847 -0.444095 -0.617104
2021-06-19 -1.203215 -1.483834  0.519308 -0.006706  0.142631
2021-06-20  1.558794  0.328197  0.358415  0.358259  0.261014
2021-06-21  0.769628  0.351647 -0.729629  0.638820 -1.162718
2021-06-22 -0.618797 -0.595285  0.182491  0.810891  0.807767
2021-06-23  0.003671  0.501391  0.380742  0.006896  0.970867
2021-06-24 -0.244561 -1.505319 -0.126045 -0.362628  0.255315
2021-06-25  1.227412 -0.836125  0.905073 -1.220975  0.558970
2021-06-26  1.274436  0.070604 -1.685684  1.108501 -0.570258
2021-06-27 -2.076280 -0.352518 -0.155217 -0.071334 -0.865597
2021-06-28 -1.290056 -1.148139  0.220837 -1.398586 -0.180211
2021-06-29  0.563851 -0.630303  0.695478  2.571473  2.080020
2021-06-30 -0.836044  0.396725 -1.133099  0.438969 -0.332536
2021-07-01  0.285991 -0.393362 -0.044724  0.134135  0.266012
2021-07-02 -2.267115  1.449913  0.324974 -2.051427 -0.078385

,A,B,C,D,E,G-Multiply,G-Multiply2,Minus-Multiply2,abs-Multiply2
2021-06-13,NaN,NaN,NaN,-2.072149,NaN,-1.315180,-3.257151,1.848401,2.725250
2021-06-14,NaN,NaN,NaN,0.492622,NaN,-0.871721,0.141208,-0.017182,-0.429429
2021-06-15,NaN,NaN,NaN,0.271165,NaN,0.320177,2.256092,-0.137098,0.086821
2021-06-16,NaN,NaN,NaN,1.059055,NaN,0.809173,1.373871,800.000000,0.856959
2021-06-17,NaN,NaN,NaN,-0.283532,NaN,0.113122,0.492082,0.306032,800.000000
2021-06-18,NaN,NaN,NaN,-1.019781,NaN,-2.475847,-0.444095,-0.311813,2.524823
2021-06-19,NaN,NaN,NaN,-1.483834,NaN,0.519308,-0.006706,0.008069,-0.770567
2021-06-20,NaN,NaN,NaN,0.328197,NaN,0.358415,0.358259,0.558452,0.117631
2021-06-21,NaN,NaN,NaN,0.351647,NaN,-0.729629,0.638820,0.491653,-0.256572
2021-06-22,NaN,NaN,NaN,-0.595285,NaN,0.182491,0.810891,-0.501777,-0.108634
2021-06-23,NaN,NaN,NaN,0.501391,NaN,0.380742,0.006896,0.000025,0.190901
2021-06-24,NaN,NaN,NaN,-1.505319,NaN,-0.126045,-0.362628,0.088684,0.189738
2021-06-25,NaN,NaN,NaN,-0.836125,NaN,0.905073,-1.220975,-1.498640,-0.756754
2021-06-26,NaN,NaN,NaN,0.070604,NaN,-1.685684,1.108501,1.412713,-0.119016
2021-06-27,NaN,NaN,NaN,-0.352518,NaN,-0.155217,-0.071334,0.148109,0.054717
2021-06-28,NaN,NaN,NaN,-1.148139,NaN,0.220837,-1.398586,1.804255,-0.253551
2021-06-29,NaN,NaN,NaN,-0.630303,NaN,0.695478,2.571473,1.449927,-0.438362
2021-06-30,NaN,NaN,NaN,0.396725,NaN,-1.133099,0.438969,-0.366998,-0.449528
2021-07-01,NaN,NaN,NaN,-0.393362,NaN,-0.044724,0.134135,0.038361,0.017593
2021-07-02,NaN,NaN,NaN,1.449913,NaN,0.324974,-2.051427,4.650820,0.471183

In [60]:
#dict. keys → 欄位
df = pd.DataFrame({'A':1.,
                   'B':pd.Timestamp(datetime.datetime.strftime(datetime.datetime.now(), '%Y%m%d')),
                   'C':pd.Series(1, index=list(range(10)), dtype='int64'),
                   'D':np.array([5]*10, dtype='int64'),
                   'E':pd.Categorical(['Elephant', 'Ant', 'Rabbit', 'Tiger', 'Lion', 'Cockroach', 'Human', 'Bee', 'Butterfly', 'Bird']),
                   'F':'Pandas Basic Practice'})
print(df)
df.dtypes

     A          B  C  D          E                      F
0  1.0 2021-05-30  1  5   Elephant  Pandas Basic Practice
1  1.0 2021-05-30  1  5        Ant  Pandas Basic Practice
2  1.0 2021-05-30  1  5     Rabbit  Pandas Basic Practice
3  1.0 2021-05-30  1  5      Tiger  Pandas Basic Practice
4  1.0 2021-05-30  1  5       Lion  Pandas Basic Practice
5  1.0 2021-05-30  1  5  Cockroach  Pandas Basic Practice
6  1.0 2021-05-30  1  5      Human  Pandas Basic Practice
7  1.0 2021-05-30  1  5        Bee  Pandas Basic Practice
8  1.0 2021-05-30  1  5  Butterfly  Pandas Basic Practice
9  1.0 2021-05-30  1  5       Bird  Pandas Basic Practice

A           float64
B    datetime64[ns]
C             int64
D             int64
E          category
F            object
dtype: object

In [67]:
# merge two dataframe using append
df1 = pd.DataFrame({'A':1.,
                   'B':pd.Timestamp(datetime.datetime.strftime(datetime.datetime.now(), '%Y%m%d')),
                   'C':pd.Series(1, index=list(range(5)), dtype='int64'),
                   'D':np.array([5]*5, dtype='int64'),
                   'E':pd.Categorical(['Elephant', 'Ant', 'Rabbit', 'Tiger', 'Lion',]),
                   'F':'Pandas Basic Practice'})

df2 = pd.DataFrame({'A':2.,
                   'B':pd.Timestamp(datetime.datetime.strftime(datetime.datetime.now(), '%Y-%m-%d')),
                   'C':pd.Series(2, index=list(range(5)), dtype='int64'),
                   'D':np.array([8]*5, dtype='int64'),
                   'E':pd.Categorical(['Cockroach', 'Human', 'Bee', 'Butterfly', 'Bird']),
                   'F':'Pandas Example Practice'})

df3 = df1.append(df2, ignore_index=True)
print(df3)

print(df3.shape)

     A          B  C  D          E                        F
0  1.0 2021-05-30  1  5   Elephant    Pandas Basic Practice
1  1.0 2021-05-30  1  5        Ant    Pandas Basic Practice
2  1.0 2021-05-30  1  5     Rabbit    Pandas Basic Practice
3  1.0 2021-05-30  1  5      Tiger    Pandas Basic Practice
4  1.0 2021-05-30  1  5       Lion    Pandas Basic Practice
5  2.0 2021-05-30  2  8  Cockroach  Pandas Example Practice
6  2.0 2021-05-30  2  8      Human  Pandas Example Practice
7  2.0 2021-05-30  2  8        Bee  Pandas Example Practice
8  2.0 2021-05-30  2  8  Butterfly  Pandas Example Practice
9  2.0 2021-05-30  2  8       Bird  Pandas Example Practice
(10, 6)

In [70]:
df1 = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))

df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
df3 = df1.append(df2, ignore_index=True)
print(df3)
print(df3.shape)

   A  B
0  1  2
1  3  4
2  5  6
3  7  8
(4, 2)

In [85]:
# pandas dataframe format
x = ({'A':1.,
   'B':pd.Timestamp(datetime.datetime.strftime(datetime.datetime.now(), '%Y%m%d')),
   'C':1,
   'D':np.array([5]*5, dtype='int64'),
   'E':pd.Categorical(['Elephant', 'Ant', 'Rabbit', 'Tiger', 'Lion',]),
   'F':'Pandas Basic Practice'},
    {'A':2.,
   'B':pd.Timestamp(datetime.datetime.strftime(datetime.datetime.now(), '%Y-%m-%d')),
   'C':2,
   'E':pd.Categorical(['Cockroach', 'Human', 'Bee', 'Butterfly', 'Bird']),
   }) #'D':np.array([8]*5, dtype='int64'),'F':'Pandas Example Practice'

df = pd.DataFrame(x)
# print(df)
df
df['t0']=0 #新增欄位
df['t1']=np.NaN #新增欄位
df['t2']=100 #新增欄位
df

,A,B,C,D,E,F,t0,t1,t2
0,1.0,2021-05-30,1,"[5, 5, 5, 5, 5]","[Elephant, Ant, Rabbit, Tiger, Lion] Categorie...",Pandas Basic Practice,0,NaN,100
1,2.0,2021-05-30,2,NaN,"[Cockroach, Human, Bee, Butterfly, Bird] Categ...",NaN,0,NaN,100

In [19]:
# pandas create a dataframe from dict
x = ({'Chinese':100, 'English':100, 'France': 100, 'Total':300},
     {'Chinese':0, 'English':0, 'France': 0, 'Total':0},
     {'Chinese':60, 'English':60, 'France': 60, 'Total':180},)
df = pd.DataFrame(x, index=['平', '京翰', '享俊'], columns=x[0].keys())
print(df)
df['Total']

    Chinese  English  France  Total
平       100      100     100    300
京翰        0        0       0      0
享俊       60       60      60    180

平     300
京翰      0
享俊    180
Name: Total, dtype: int64

In [36]:
df1 = pd.DataFrame({'A':[np.random.randint(0,10) for i in range(8)], 
                    'B':[np.random.randint(10,20) for i in range(8)],
                   'C':[np.random.randint(20,30) for i in range(8)]})
df2 = pd.DataFrame({'A':[np.random.randint(30,40) for i in range(8)], 
                    'B':[np.random.randint(40,50) for i in range(8)],
                   'C':[np.random.randint(60,70) for i in range(8)]})
df3 = pd.concat([df1,df2],ignore_index=True)
print(df3)

df3.groupby('A').sum()
df3.groupby('A').mean()

     A   B   C
0    9  10  23
1    7  10  26
2    5  17  25
3    4  12  25
4    5  14  20
5    5  14  23
6    4  11  21
7    4  18  25
8   39  46  64
9   37  42  60
10  35  44  64
11  30  46  63
12  39  46  67
13  39  48  65
14  32  47  61
15  35  45  61

            B          C
A
4   13.666667  23.666667
5   15.000000  22.666667
7   10.000000  26.000000
9   10.000000  23.000000
30  46.000000  63.000000
32  47.000000  61.000000
35  44.500000  62.500000
37  42.000000  60.000000
39  46.666667  65.333333

In [64]:
df = pd.read_csv(r'‪D:\Python_Summarize\Python_Training\ITtraining\iris.csv'.replace('\u202a',''))
df.T
df.T.to_csv(r'‪D:\Python_Summarize\Python_Training\ITtraining\iris_T.csv'.replace('\u202a',''))

In [71]:
df = pd.read_csv(r'‪D:\Python_Summarize\Python_Training\ITtraining\iris_T.csv'.replace('\u202a',''), index_col=0) #use first column as the index (row names)
df.index
df.shape
df.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '140', '141', '142', '143', '144', '145', '146', '147', '148', '149'],
      dtype='object', length=150)

In [91]:
cols = ['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']
df = pd.read_csv(r'‪D:\Python_Summarize\Python_Training\ITtraining\iris.csv'.replace('\u202a',''), usecols=cols, nrows=10)
df[(df['petal width (cm)'] > 0.2) & (df['sepal length (cm)'] < 5)] #display a specific column

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
6                4.6               3.4                1.4               0.3

In [107]:
#concatenate multiple dataframe
df1 = pd.DataFrame({'A':[np.random.randint(0,10) for i in range(8)], 
                    'B':[np.random.randint(10,20) for i in range(8)],
                   'C':[np.random.randint(20,30) for i in range(8)]})

df2 = pd.DataFrame({'A':[np.random.randint(30,40) for i in range(8)], 
                    'B':[np.random.randint(40,50) for i in range(8)],
                   'C':[np.random.randint(60,70) for i in range(8)]})

df3 = pd.DataFrame({'A':[np.random.randint(70,80) for i in range(8)], 
                    'B':[np.random.randint(80,90) for i in range(8)],
                   'C':[np.random.randint(90,100) for i in range(8)]})

frames = [df1, df2, df3]

result = pd.concat(frames, ignore_index=True)
# result

#save to csv file
df1.to_csv('data_001.csv', encoding='utf-8', index=False)
df2.to_csv('data_002.csv', encoding='utf-8', index=False)
df3.to_csv('data_003.csv', encoding='utf-8', index=False)
result.to_csv('result.csv', encoding='utf-8', index=False)

    A   B   C
0  74  86  99
1  79  86  95
2  79  86  93
3  76  84  92
4  75  88  90
5  76  86  92
6  70  89  94
7  71  83  92

In [108]:
#read data from multiple .csv file and concatenate all dataframe using append
import os, sys
from pathlib import Path

total_file = 3
path = './'
df = pd.DataFrame()

for i in range(total_file):
    buf = "data_%03d.csv"%(i+1)
    buf = os.path.join(path, buf)
    print(buf)
    df1 = pd.read_csv(buf)
    df = df.append(df1, ignore_index=True)
print(df)

./data_001.csv
./data_002.csv
./data_003.csv
     A   B   C
0    8  16  23
1    5  15  28
2    3  19  22
3    0  12  28
4    7  13  22
5    2  10  22
6    4  12  22
7    1  15  27
8   32  47  64
9   33  46  68
10  38  44  69
11  36  44  67
12  39  47  62
13  37  49  69
14  32  46  62
15  34  41  60
16  74  86  99
17  79  86  95
18  79  86  93
19  76  84  92
20  75  88  90
21  76  86  92
22  70  89  94
23  71  83  92